<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wust.newsmartschool">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTION_OPEN_EXTERNAL_DIRECTORY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="com.wust.newsmartschool.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ding.chatuidemo.permission.C2D_MESSAGE" />

    <permission
        android:name="com.wust.newsmartschool.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ding.chatuidemo.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.wust.newsmartschool.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ding_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wust.newsmartschool.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 开屏页 -->
        <activity
            android:name="com.wust.newsmartschool.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <activity
            android:name="com.wust.newsmartschool.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- 注册 -->
        <activity
            android:name="com.wust.newsmartschool.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <!-- 聊天页面 -->
        <activity
            android:name="com.wust.newsmartschool.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!--
        <activity
            android:name="com.bugtags.library.BugtagsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <receiver android:name="com.bugtags.library.BugtagsReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.bugtags.library.BugtagsService" />
        -->
        <activity
            android:name="com.wust.newsmartschool.ui.AddContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <!-- 群组详情 -->
        <activity
            android:name="com.wust.newsmartschool.ui.GroupDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 群组列表 -->
        <activity
            android:name="com.wust.newsmartschool.ui.GroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wust.newsmartschool.ui.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 聊天室详情 -->
        <activity
            android:name="com.wust.newsmartschool.ui.ChatRoomDetailsActivity"
            android:screenOrientation="portrait" />

        <!-- 新建群组 -->
        <activity
            android:name="com.wust.newsmartschool.ui.NewGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 退出群组提示框 -->
        <activity
            android:name="com.wust.newsmartschool.ui.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <!-- 群组选人 -->
        <activity
            android:name="com.wust.newsmartschool.ui.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 地图 -->
        <activity
            android:name="com.wust.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait" />

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name="com.wust.newsmartschool.ui.NewFriendsMsgActivity"
            android:screenOrientation="portrait" />
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name="com.wust.newsmartschool.ui.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.wust.newsmartschool.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.wust.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />
        <!-- 下载文件 -->
        <activity
            android:name="com.wust.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait" />
        <!-- 黑名单 -->
        <activity
            android:name="com.wust.newsmartschool.ui.BlacklistActivity"
            android:screenOrientation="portrait" />

        <!-- 公开的群聊列表 -->
        <activity
            android:name="com.wust.newsmartschool.ui.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wust.newsmartschool.ui.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 语音通话 -->
        <activity
            android:name="com.wust.newsmartschool.ui.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style" />
        <!-- 视频通话 -->
        <activity
            android:name="com.wust.newsmartschool.ui.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 群聊简单信息 -->
        <activity
            android:name="com.wust.newsmartschool.ui.GroupSimpleDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 群组黑名单用户列表 -->
        <activity
            android:name="com.wust.newsmartschool.ui.GroupBlacklistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wust.newsmartschool.ui.GroupSearchMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.wust.newsmartschool.ui.PublicGroupsSeachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wust.newsmartschool.ui.EditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.wust.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- choose video -->
        <activity
            android:name="com.wust.newsmartschool.ui.ImageGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.wust.newsmartschool.ui.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- upload error log -->
        <activity
            android:name="com.wust.newsmartschool.ui.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- iOS offline push nick -->
        <activity
            android:name="com.wust.newsmartschool.ui.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- robots list -->
        <activity
            android:name="com.wust.newsmartschool.ui.RobotsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- user profile -->
        <activity
            android:name="com.wust.newsmartschool.ui.UserProfileActivity"
            android:screenOrientation="portrait" />

        <!-- 开机自启动服务 -->
        <receiver android:name="com.wust.newsmartschool.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ding.chatuidemo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false" />

        <receiver
            android:name="com.wust.newsmartschool.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push" />

                <category android:name="com.ding.chatuidemo" />
            </intent-filter>
        </receiver>
        <!-- gcm end -->


        <!-- mi push -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- mi push end -->


        <!-- huawei push -->
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
        <!--
        <receiver android:name="com.hyphenate.chat.EMHuaweiPushReceiver" >
            <intent-filter>
                必须,用于接收token
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                必须，用于接收消息
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
            />
            <meta-data android:name="CS_cloud_ablitity" android:value="successRateAnalytics"/>
        </receiver>

        PushSDK:PushSDK接收外部请求事件入口
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_ON" />
                <action android:name="com.huawei.android.push.PLUGIN" />
            </intent-filter>
        </receiver>

        PushSDK:Push服务
        <service
            android:name="com.huawei.android.pushagent.PushService"
            android:process=":pushservice" >
        </service>
        -->
        <!-- huawei push end -->


        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="516881172#mo" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- umeng appkey，可忽略 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56aefe07e0f55a250d001a7c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="hyphenate" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <activity
            android:name="com.wust.newsmartschool.ui.UserInfoActivity"
            android:label="@string/title_activity_user_info" />
        <activity
            android:name="com.wust.newsmartschool.ui.FriendsListActivity"
            android:label="@string/title_activity_friends_list" />
        <activity
            android:name="com.wust.newsmartschool.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.wust.newsmartschool.ui.CompanyActivity"
            android:label="@string/title_activity_company" />
        <activity
            android:name="com.wust.newsmartschool.ui.DeptMembersActivity"
            android:label="@string/title_activity_dept_members" />
        <activity
            android:name="com.wust.newsmartschool.ui.PreRegisterActivity"
            android:label="@string/title_activity_pre_register" />
        <activity
            android:name="com.wust.newsmartschool.ui.InfoSetActivity"
            android:label="@string/title_activity_info_set" />
        <activity
            android:name="com.wust.newsmartschool.ui.ChatSetActivity"
            android:label="@string/title_activity_chat_set" />
        <activity
            android:name="com.wust.newsmartschool.ui.DeptMemInfoActivity"
            android:label="@string/title_activity_dept_mem_info" />
        <activity
            android:name="com.wust.newsmartschool.ui.DeptMemInfoActivity2"
            android:label="@string/title_activity_dept_mem_info" />
        <activity
            android:name="com.wust.newsmartschool.ui.EditeNoticeActivity"
            android:label="@string/title_activity_edite__notice" />
        <activity
            android:name="com.wust.newsmartschool.ui.NewsDetailActivity"
            android:label="@string/title_activity_news_detail" />
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFragNoticeActivity"
            android:label="@string/title_activity_work_frag_notice" />
        <activity
            android:name="com.wust.newsmartschool.ui.NoticeDetailActivity"
            android:label="@string/title_activity_notice_detail" />
        <activity
            android:name="com.wust.newsmartschool.ui.NoticeDetailActivity_new"
            android:label="@string/title_activity_notice_detail" />
        <activity
            android:name="com.wust.newsmartschool.ui.MeSentNoticeActivity"
            android:label="@string/title_activity_me_sent_notice" />
        <activity
            android:name="com.wust.newsmartschool.ui.CreatNewNoticeActivity"
            android:label="@string/title_activity_creat_new_notice" />
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFragWorkFlowActivity"
            android:label="@string/title_activity_work_flow" />
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFlowNeedMeActivity"
            android:label="@string/title_activity_work_flow_need_me" />
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFlowDealedActivity"
            android:label="@string/title_activity_work_flow_dealed" />
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFlowCopyToMeActivity"
            android:label="@string/title_activity_work_flow_copy_to_me" />
        <activity
            android:name="com.wust.newsmartschool.ui.CreatWorkFlowActivity"
            android:label="@string/title_activity_creat_work_flow" />
        <activity
            android:name="com.wust.newsmartschool.ui.NoticeChooseMemActivity_over"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.MeetingActivity"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.MeetingDetailActivity"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.MeetingPointActivity"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.NewMeetingActivity"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.NewTaskActivity"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFragTaskActivity"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.TaskDetailActivity"
            android:label="@string/title_activity_notice_choose_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.MessageSettingActivity"
            android:label="@string/title_activity_message_setting" />
        <activity
            android:name="com.wust.newsmartschool.ui.JFlowItemApplyActivity"
            android:label="@string/title_activity_jflow_item_apply" />
        <activity
            android:name="com.wust.newsmartschool.ui.JFlowDetailActivity"
            android:label="@string/title_activity_jflow_detail" />
        <activity android:name="com.wust.newsmartschool.ui.HeadImgActivity" />
        <activity
            android:name="com.wust.newsmartschool.ui.DeleteAndBlackActivity"
            android:theme="@style/MyDialogMenuStyleBottom"></activity>
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFlowCopyMeUnreadActivity"
            android:label="@string/title_activity_work_flow_copy_me_unread" />
        <activity
            android:name="com.wust.newsmartschool.ui.MyReactActivity"
            android:label="@string/title_activity_work_flow_copy_me_unread" />
        <activity
            android:name="com.wust.newsmartschool.ui.NoticeChooseMemActivity"
            android:label="@string/title_activity_work_flow_copy_me_unread" />
        <activity
            android:name="com.wust.newsmartschool.ui.NoticeChooseMemActivitySingleChoose"
            android:label="@string/title_activity_work_flow_copy_me_unread" />
        <activity android:name="com.wust.newsmartschool.ui.PublishTaskActivity" />
        <activity
            android:name="com.wust.newsmartschool.zxing.activity.BarCodeTestActivity"
            android:label="@string/app_name" />
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.wust.newsmartschool.receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.ding.chat" />
            </intent-filter>
        </receiver>

        <activity android:name="com.wust.newsmartschool.ui.ChooseAtPersonActivity" />
        <activity
            android:name="com.wust.newsmartschool.ui.EditeTaskCommentActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name="com.wust.newsmartschool.ui.SearchNoticeActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name="com.wust.newsmartschool.ui.NoticeAttachActivity" />
        <activity android:name="com.wust.newsmartschool.ui.SearchTaskActivity" />
        <activity
            android:name="com.wust.newsmartschool.ui.SearchTaskChildActivity"
            android:label="@string/title_activity_search_task_child" />
        <activity
            android:name="com.wust.newsmartschool.ui.ChangePswActivity"
            android:label="@string/title_activity_change_psw" />
        <activity
            android:name="com.wust.newsmartschool.ui.NoticeDetail_SeeNoSeeMemActivity"
            android:label="@string/title_activity_notice_detail__see_no_see_mem" />
        <activity
            android:name="com.wust.newsmartschool.ui.NoticeChooseMemActivitySingleChooseForTask"
            android:label="@string/title_activity_notice_detail__see_no_see_mem" />
        <activity android:name="com.wust.newsmartschool.ui.SettingActivity" />
        <activity
            android:name="com.wust.newsmartschool.ui.WorkFragApplyActivity"
            android:label="@string/title_activity_work_frag_apply" />
        <activity android:name="com.wust.newsmartschool.ui.GroupMembersActivity"></activity>
    </application>

</manifest>